body {
  background-color: #e9eef3;
}

.displayTable {
  min-width: 550px;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

.displayTable td {
  padding: 5px;
  background-color: #dde3e9;
}

.page {
  width: 1200px;
  margin: 0 auto;
}

.canvasContainer {
  background: #C0C0C0;
  display: inline-block;
}

.myInput {
  width: 100%;
}

.displayQRCode {
  max-width: 500px;
}
